.DS_Store
.dart_tool/

.packages
.pub/

.idea/
.vagrant/
.sconsign.dblite
.svn/

migrate_working_dir/



DerivedData/

.generated/



!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata


